@{
    ViewData["Title"] = "Twitter video Download";
}
@section MetaTags
    {
    <link rel="alternate" href="http://www.twittervideodownloads.com/zh/" hreflang="zh-Hans" />
    <meta property="og:locale" content="en" />
    <meta property="og:title" content="Download Twitter Videos - the best way to download Twitter videos" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="http://www.twittervideodownloads.com" />
    <meta property="og:site_name" content="Download Twitter Videos to MP4 & MP3! Online Easy and Free" />
    <meta name="description" content="Download Twitter Videos - Online, Easy and Free Online Twitter Video Downloader! Save any Twitter video  to MP3, MP4 and HD. Download Twitter Videos Online for free without Java or any 3rd party extensions. Your answer for how to download Twitter Video" />
    <meta name="keywords" content="Download Twitter Videos, Download Videos to mp3, Download Videos to mp4, Download to mp3, Download to mp4,Twitter Downloader, Twitter Video Downloader" />

}
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1 class="section-heading wow fadeInUp" style="font-family:Georgia;font-weight:bold">Video Downloader</h1>
        <p class="section-desc wow fadeInUp">Download Videos from Twitter - Online Downloader</p>
    </div>
</div>

<div class="row" style="padding-top:40px">
    <form class="form-horizontal" method="POST" action="/Download">
        <div class="form-group">
            <div class="col-md-12">
                <input id="url" class="form-control" style="font-size:24px; padding-top:20px;padding-bottom:20px" required
                       placeholder="Enter Twitter video url you would like to download				" type="text" name="url"
                       value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-success text-center">
                    download
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row" style="padding-top:40px;text-align:center;font-size:36px;color:darkblue">
    How to Download Twitter Videos?
</div>
<div class="row">

    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active stole" ><a href="#tab1primary" data-toggle="tab">Step 1</a></li>
                    <li class="stole"><a href="#tab2primary" data-toggle="tab">Step 2</a></liclass="stole">
                    <li class="stole"><a href="#tab3primary" data-toggle="tab">Step 3</a></li>
                    <li class="stole"><a href="#tab4primary" data-toggle="tab">Step 4</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        Copy Twitter Video Link by Right Click over the Video, click on the "copy video address"
                        <img src="~/twitterStep1.jpg" />
                    </div>
                    <div class="tab-pane fade" id="tab2primary">
                        Enter the twitter video url you want to download
                        <img src="~/twitterStep2.jpg" />
                    </div>
                    <div class="tab-pane fade" id="tab3primary">
                        Click the "Download" button
                    </div>
                    <div class="tab-pane fade" id="tab4primary">
                        Wait a few seconds while "Twitter video downloader" proccesing your request
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="padding-top:20px">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Twitter Video Downloader Online</strong></h3>
            </div>
            <div class="panel-body">
                Our Twitter video downloader is your answer for how to download video from Twitter
                It Provide the best and mot secure free Twitter video downloader tool,
                Start downloading videos of the twitter users you follow to Mp4 in a second.
                Just copy the twitter video url into the white box and click the Download button, wait a few second and the video is yours!
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Download Twitter Videos Fast</strong></h3>
            </div>
            <div class="panel-body">
                With TwitterVideoDownloads.com, you will be able to aget any twitter video in the most powerfull way, and it is the fatest twitter video downloader in the market.
            </div>
        </div>
    </div>


</div>