@{
    ViewData["Title"] = "下载-Twitter-视频";
}
@section MetaTags
    {
    <link rel="alternate" href="http://www.twittervideodownloads.com/" hreflang="en" />
    <meta property="og:locale" content="zh=Hans" />
    <meta property="og:title" content="下载Twitter视频 - 下载Twitter视频的最佳方式" />
    <meta property="og:type" content="产品" />
    <meta property="og:url" content="http://www.twittervideodownloads.com/zh" />
    <meta property="og:site_name" content="将Twitter视频下载到MP4和MP3！ 在线轻松自由" />
    <meta name="description" content="下载Twitter视频 - 在线，简单和免费在线Twitter视频下载！ 将任何Twitter视频保存为MP3，MP4和HD。 免费下载Twitter视频在线，无需Java或任何第三方扩展。 您对如何下载Twitter视频的答案" />
    <meta name="keywords" content="下载Twitter视频，下载视频到mp3，下载视频到mp4，下载到MP3，下载到MP4，Twitter下载器，Twitter视频下载" />

}
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1 class="section-heading wow fadeInUp" style="font-family:Georgia;font-weight:bold">下载Twitter视频</h1>
        <p class="section-desc wow fadeInUp">从Twitter下载视频 - 在线下载器</p>
    </div>
</div>

<div class="row" style="padding-top:40px">
    <form class="form-horizontal" method="POST" action="/zhDownload">
        <div class="form-group">
            <div class="col-md-12">
                <input id="url" class="form-control" style="font-size:24px; padding-top:20px;padding-bottom:20px" required
                       placeholder="输入您要下载的Twitter视频网址				" type="text" name="url"
                       value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-success text-center">
                    下载
                </button>
            </div>
        </div>
    </form>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Form Wizards</h4>
            </div>
            <div class="panel-body">
                <form action="/" method="POST">
                    <div id="wizard">
                        <ol>
                            <li>
                                Identification
                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                            </li>
                            <li>
                                Contact Information
                                <small>Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin.</small>
                            </li>
                            <li>
                                Login
                                <small>Phasellus lacinia placerat neque pretium condimentum.</small>
                            </li>
                            <li>
                                Completed
                                <small>Sed nunc neque, dapibus non leo sed, rhoncus dignissim elit.</small>
                            </li>
                        </ol>
                        <!-- begin wizard step-1 -->
                        <div>
                            <fieldset>
                                <legend class="pull-left width-full">Identification</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" name="firstname" placeholder="John" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Middle Initial</label>
                                            <input type="text" name="middle" placeholder="A" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="lastname" placeholder="Smith" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                        <!-- begin wizard step-2 -->
                        <div>
                            <fieldset>
                                <legend class="pull-left width-full">Contact Information</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-6 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" name="phone" placeholder="123-456-7890" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="text" name="email" placeholder="someone@example.com" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->
                        <!-- begin wizard step-3 -->
                        <div>
                            <fieldset>
                                <legend class="pull-left width-full">Login</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <div class="controls">
                                                <input type="text" name="username" placeholder="johnsmithy" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pasword</label>
                                            <div class="controls">
                                                <input type="password" name="password" placeholder="Your password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Confirm Pasword</label>
                                            <div class="controls">
                                                <input type="password" name="password2" placeholder="Confirmed password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->
                        <!-- begin wizard step-4 -->
                        <div>
                            <div class="jumbotron m-b-0 text-center">
                                <h1>Login Successfully</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat commodo porttitor. Vivamus eleifend, arcu in tincidunt semper, lorem odio molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin. </p>
                                <p><a class="btn btn-success btn-lg" role="button">Proceed to User Profile</a></p>
                            </div>
                        </div>
                        <!-- end wizard step-4 -->
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
<div class="row" style="padding-top:40px;text-align:center;font-size:36px;color:darkblue">
    如何下载Twitter视频？
</div>
<div class="row col-md-12" style="padding-top:40px;text-align:center;font-size:24px;color:darkblue">
    <table class="table table-hover" style="width:50%;margin: 0px auto;">
        <tbody>
            <tr>
                <td>
                    第1步：通过右键单击视频复制Twitter视频链接，复制链接
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/twitterStep1.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    第2步：输入您要下载的Twitter视频网址
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/twitterStep2.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    第3步：单击“下载”按钮
                </td>
            </tr>
            <tr>
                <td>
                    第4步：等待几秒钟“Twitter视频下载程序”处理您的请求
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" style="padding-top:20px">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Twitter视频下载器</strong></h3>
            </div>
            <div class="panel-body">
                我们的Twitter视频下载器是您如何从Twitter下载视频的答案
                它提供最好的和安全的免费Twitter视频下载工具，
                在一秒钟内开始将您关注的Twitter用户的视频下载到Mp4。
                只需将推特视频网址复制到白色框中，然后点击“下载”按钮，等待几秒钟，视频就是你的！
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>快速下载Twitter视频</strong></h3>
            </div>
            <div class="panel-body">
                通过TwitterVideoDownloads.com，您将能够以最强大的方式识别任何Twitter视频，它是市场上最大的Twitter视频下载器。
            </div>
        </div>
    </div>


</div>